body {
    font-family: Arial, Arial, Helvetica, sans-serif;
    font-size: 18px;
}

header,footer {
    background-color:#ffebcd;
}

.site-title {
    color:rgb(13, 11, 170)
}

#my-image {
    box-shadow: 0 0 2px 1px black;
}

.my-hobbies {
    list-style-type: square;
}