body {
    background-color: #aad4cf;
    font-family: Arial, Helvetica, sans-serif;
}

.overall {
    background-color: rgb(226, 239, 239);
    z-index: 1;
    width: 1024px;
    margin: 0 auto;
}

header img {
    position:relative;
}

.site-title {
    position:absolute;
    font-size: 3rem;
    font-weight: 100;
    color: white;
    left: 100%;
}

article {
    padding:10px;
}
.nav-list{
    margin: 0 auto;
}

nav ul li {
    display: inline-block;
    width: 100px;
    border-right: 1px dotted black;
    text-align: center;
}

nav ul li:last-child {
    border-right: none;
}

section {
    /* position:relative; */
    width: 60rem;
}

.wrapper {
}

.wrapper img {
    width: 200px;
    float: left;
}

.wrapper p {
    width: 1000px;
    right: 30px;
}

.facts {

}