body {
    background-color: #aad4cf;
}


header {
    position:relative;
     max-width: 60rem;
     background-color:rgb(226, 239, 239);
     margin: auto;
    /* height: 15rem; */
}

img {
    width: 100%;
}

.site-title {
    position:absolute;
    font-size: 3rem;
    color: white;
    width: 100%;
    top: 50%;
    text-align: center;
}

ul{
    padding-left: 0;
}

nav ul li {
    display: inline-block;
    width: ;
    border-right: 1px dotted black;
    text-align: center;
}