header {
    position:relative;
    /* height: 15rem; */
}

.site-title {
    position:absolute;
    font-size: 3rem;
    color: white;
    width: 100%;
    top: 50%;
    text-align: center;
}

nav ul li {
    display: inline-block;
    width: 100px;
    border-right: 1px dotted black;
    text-align: center;
}