/* this is to reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0 auto;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
    color: inherit;
    text-decoration: none;
}

/* this is end of reset CSS */

body {
    font-family: 'Open Sans', sans-serif;
}

.nav-container {
    background-color: #222;
    max-width: 1200px;
    padding: 20px;
}

.nav-logo {
    background-color: #C78C06;
    padding: 20px 0;
}

.nav-menu-list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    color: #C78C06;
}

.nav-menu-list a {
    width: 100%;
    padding: 20px 0;
    font-size: 20px;
    text-align: center;
}

.nav-menu-list a:active {
    background-color: #C78C06;
    color: #222;
}

.nav-form {
    width: 100%;
    display: flex;
}

.search-field {
    width: 100%;
    font-size: 20px;
    padding: 5px;
    line-height: 1.5;
}

.search-button {
    background-color: transparent;
    border-width: 1.5px;
    border-color: #C78C06;
    font-size: 20px;
    color: #C78C06;
    padding: 0 10px;
}

.section-hero {
    padding: 40px 0;
    background-image: url(/final-project/images/main-banner.jpg);
}

.hero-container {
    background-color: rgba(2, 2, 2, 0.5);
    color: white;
    padding: 20px;
}

h1 {
    font-size: 80px;
    font-weight: 800;
    line-height: 1.2;
    margin: 40px 0;
}