html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0 auto;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
    color: inherit;
    text-decoration: none;
}

/* this is end of reset CSS */

body {
    font-family: "Open Sans", sans-serif;
    max-width: 1200px;
}

h1 {
    font-size: 90px;
    font-weight: 700;
    line-height: 1.2;
    margin: 40px 0;
}

h2 {
    font-size: 60px;
    font-weight: 700;
    margin: 40px 0;
}

h3 {
    font-size: 40px;
    font-weight: 700;
    margin: 20px 0;
}

h4 {
    font-size: 20px;
    font-weight: 700;
    padding: 10px 0;
    border-bottom: 3px solid #C78C06;
}

p {
    font-size: 20px;
    line-height: 1.5;
    margin: 20px 0;
}

.primary {
    background-color: #C78C06;
    border-width: 0;
    font-size: 30px;
    padding: 40px ;
}

.secondary {
    background-color: #222;
    color: white;
    border-width: 0;
    font-size: 30px;
    padding: 40px;
}

.tertiary{
    background-color: rgba(2, 2, 2, 0.5);
    color: white;
    border-color: #C78C06;
    border-width: 1.5px;
    font-size: 30px;
    padding: 40px;
}

.nav-container {
    background-color: #222;
    max-width: 1200px;
    padding: 15px;
}

.nav-logo {
    background-color: #C78C06;
    padding: 20px 0;
}

.nav-menu-list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    color: #C78C06;
}

.nav-menu-list a {
    width: 100%;
    padding: 20px 0;
    font-size: 20px;
    text-align: center;
}

.nav-menu-list a:active {
    background-color: #C78C06;
    color: #222;
}

.nav-form {
    width: 100%;
    display: flex;
}

.search-field {
    width: 100%;
    font-size: 20px;
    padding: 5px;
    line-height: 1.5;
}

.search-button {
    background-color: transparent;
    border-width: 1.5px;
    border-color: #C78C06;
    font-size: 20px;
    color: #C78C06;
    padding: 0 10px;
}

.section-hero {
    padding: 40px 0;
    background-image: url(/final-project/images/main-banner.jpg);
}

.hero-container {
    background-color: rgba(2, 2, 2, 0.5);
    color: white;
    padding: 15px;
}

.about-us-containter {
    background-color: #ffe6ac;
    padding: 15px;
}

.about-us-containter img {
    width: 100%;
}

.services-container {
    padding: 15px;
}

.services-container img{
    width: 100%;
}

.services-digital-container{
    background-color: #ffe6ac;
}

.services-digital-text-container {
    padding: 40px 20px 20px 20px;
}

.services-marketing-container{
    background-color: #ffe6ac;
}

.services-marketing-text-container{
    padding: 40px 20px 20px 20px;
}

.services-video-container{
    background-color: #ffe6ac;
}

.services-video-text-container{
    padding: 40px 20px 20px 20px;
}

.services-web-container{
    background-color: #ffe6ac;
}

.services-web-text-container{
    padding: 40px 20px 20px 20px;
}

.services-print-container{
    background-color: #ffe6ac;
}

.services-print-text-container{
    padding: 40px 20px 20px 20px;
}

.vision-container {
    padding: 40px 20px;
    background-image: url(/final-project/images/vision.jpg);
}

.vision-container h3,
.vision-container p {
    color: white;
}

.section-our-team {
    padding: 40px 20px;
}

.section-our-team img{
    width: 100%;
}

.jd-ceo-container {
    background-color: #ffe6ac;
}

.jd-ceo-text-container {
    padding: 40px 20px 20px 20px;
}

.br-cfo-container {
    background-color: #ffe6ac;
}

.br-cfo-text-container {
    padding: 40px 20px 20px 20px;
}

.section-contact-us {
    padding: 40px 20px;
}

.send-message-container input {
    width: 100%;
    height: 30px;
    margin: 10px 0;
    border-color: #222;
    border-width: 1.5px;
}

#message {
    height: 100px;
}

#send-button {
    color:#C78C06;
    font-size: 20px;
    background-color: #222;
    border-width: 0;
    padding: 6px 10px;
}

table {
    width: 100%;
    border: 1.5px solid #222;
}

th, td {
    border: 1.5px solid #222; 
    padding: 20px;
    width: 50%;
}

thead {
    text-align: center;
    background-color: #ffe6ac;
}

iframe {
    width: 100%;
}

footer {
    background-color: #222;
    color: #C78C06;
    padding: 40px 20px 20px 20px;
    line-height: 1.5;
}
